@import "variables.scss";

@mixin flexDirectionColumn {
  display: flex;
  flex-direction: column;
}

@mixin inputField($padding, $fontSize, $border) {
  font-family: inherit;
  border-radius: $borderRadius;
  outline: none;
  font-weight: $inputFieldFontWeight;
  padding: $padding;
  font-size: $fontSize;
  border: $border;
}

@mixin text($color, $fontSize, $fontWeight) {
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
}

@mixin buttonHoverState {
  color: $dark-cyan;
  background-color: lighten($strong-cyan, 30%);
}
