@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "variables.scss";
@import "styles.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: $font, $default-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-gray-cyan-1;
}

.img-container {
  text-align: center;
  margin: 3em 0;
}

#tip-calculator {
  justify-self: center;
  background-color: $white;
  padding: 2.5em;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 400px));
  gap: 3em;

  .input-controls {
    @include flexDirectionColumn();
    justify-content: space-between;
    gap: 2em;

    .form-control {
      @include flexDirectionColumn();
      gap: 0.25em;
      position: relative;

      .input-img {
        position: absolute;
        bottom: 15px;
        left: 20px;
      }

      label {
        @include text($dark-gray-cyan-1, 0.95rem, 600);
      }

      .input-number {
        @include inputField(0.2em, 24px, 2px solid $light-gray-cyan-2);

        background-color: $light-gray-cyan-2;
        color: $dark-gray-cyan-2;
        text-align: right;

        &:focus,
        &:active {
          border: 2px solid $strong-cyan;
        }
      }

      .error-control {
        border: 2px solid $error;
      }

      .people-label {
        display: flex;
        justify-content: space-between;
        .error {
          @include text($error, 0.95rem, 600);
          display: none;
        }
      }

      .input-buttons {
        display: grid;
        grid-template-columns: repeat(3, minmax(120px, 1fr));
        text-align: center;
        gap: 1em;
        margin-top: 0.5em;

        input[type="button"] {
          @include inputField(0.5em 1.5em, 1.25rem, none);

          cursor: pointer;
          field-sizing: fixed;

          &:hover {
            @include buttonHoverState();
          }
        }

        .value-btn {
          background-color: $dark-cyan;
          color: $white;
          text-align: center;
          cursor: pointer;
          @include inputField(0.5em 1.5em, 1.35rem, none);

          input[type="radio"] {
            display: none;
          }

          &:hover {
            @include buttonHoverState();
          }
        }

        .custom {
          background-color: $light-gray-cyan-2;
          color: $dark-gray-cyan-1;
        }
      }
    }
  }

  .calculator-controls {
    @include flexDirectionColumn();
    gap: 2.5em;
    background-color: $dark-cyan;
    padding: 2.5em;
    border-radius: 1rem;

    .calculator-result {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading {
        @include text($white, 1rem, 400);
      }

      .sub-heading {
        @include text($dark-gray-cyan-2, 0.85rem, 600);
      }

      .result {
        @include text($strong-cyan, 2.5rem, 700);
      }
    }

    .reset {
      background-color: lighten($dark-cyan, 5%);
      color: $light-gray-cyan-1;
      padding: 0.75em 1em;
      font-family: inherit;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      border-radius: 0.25rem;
      border: none;
      outline: none;
      margin-top: auto;
      cursor: pointer;

      &:hover {
        @include buttonHoverState();
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: $default-font;
  margin-top: 4em;
  margin-bottom: 1em;

  a {
    color: $blue;
  }
}

.active-btn {
  color: $dark-cyan !important;
  background-color: $strong-cyan !important;
}

@media (max-width: 992px) {
  #tip-calculator {
    max-width: 100%;
    grid-template-columns: repeat(2, minmax(300px, 300px));
    gap: 2em;

    .input-controls {
      .form-control {
        .input-buttons {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: 740px) {
  body {
    width: 100%;
    main {
      max-width: 100%;
      width: 100%;
    }
    #tip-calculator {
      display: flex;
      flex-direction: column;
      min-width: 80%;
    }
  }
}

@media (max-width: 576px) {
  body #tip-calculator {
    min-width: 100%;
    padding: 2em;
    gap: 2.5em;

    .input-controls {
      gap: 2.5em;

      .form-control {
        label {
          font-size: 0.85rem;
        }
      }
    }

    .calculator-controls {
      padding: 1.5em;

      .reset {
        font-size: 0.85rem;
      }

      .calculator-result {
        .heading {
          font-size: 0.85rem;
        }

        .sub-heading {
          font-size: 0.75rem;
        }

        .result {
          font-size: 1.75rem;
        }
      }
    }
  }
}
